*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: rgb(30, 0, 255);
}

div{
    border: 1px black solid;
    margin: 15px;
    padding: 30px;
    width: 100px;
    height: 100px;
}

#container{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content: center;
    flex-wrap: wrap;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}